Src_Write_Token="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0eXBlIjoibWFjaGluZTJtYWNoaW5lIiwiZGJpZCI6ImNhc3NpbmktZmFlYjI2MDYtZGRhNy00ZWU3LWFhMzItNjEyODM1MGViNDA3XzMiLCJkYXRlIjoxNzI3Njg5MzkxLCJkb21haW4iOiJjYXNzaW5pIiwiYXBwTmFtZSI6Im1pZ3JhdGlvbiIsImlhdCI6MTcyNzY4OTM5MX0.zaxrXU2vNjvS5y0bV87Mrr-teBjts6rTdFvOC3-rYM0"
Dest_Write_Token="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0eXBlIjoibWFjaGluZTJtYWNoaW5lIiwiZGJpZCI6ImFzdHJvLWhhcmdpLTE0NzJmNjA3LTUxNjAtNGNjNi1hYzA3LTgwOTM2M2NhNmE1NF81IiwiZGF0ZSI6MTcyNzY4NjgwNSwiZG9tYWluIjoiYXN0cm8taGFyZ2kiLCJhcHBOYW1lIjoiaGFyZ2ktbWlncmF0aW9uIiwiaWF0IjoxNzI3Njg2ODA1fQ.7nekXdd0P7c4jn_mZe_OxSmdk26IHMGfClhYd-IHuTk"
Src_Repository="cassini"
Src_Token="MC5YQkRWbVJBQUFDd0F6UEsy.Su-_vRTvv70k77-977-977-9W--_ve-_vUtz77-977-977-977-977-977-977-977-977-9PQ9jNe-_vToeQjrvv70"
Dest_Repository="astro-hargi"
Dest_Token="MC5adnBoUkJFQUFDQUE0cXhU.CSbvv70977-9Qe-_ve-_vSfvv71De0zvv71yQe-_vURXYe-_vW3vv71MMO-_vTnvv70R77-977-977-9"
Dest_Migration_API_Demo_Token="cSaZlfkQlF9C6CEAM2Del6MNX9WonlV86HPbeEJL"